{
    "protocol": "postgresql",
    "db_address": "127.0.0.1",
    "db_port": 55234,
    "db_user": "public",
    "db_password": "qwery123",
    "db_name": "postgres",
    "ssh_username": "SpecifyIfSSHTunnelIsUsed",
    "ssh_password": "Optional, Will Be Prompted If Needed and Not Specified",
    "ssh_address": "8.8.4.4",
    "ssh_port": 22
}