networkx==2.8.7
numpy==1.23.3
pandas==1.5.0
SQLAlchemy==1.4.41
sshtunnel==0.4.0
antlr4-python3-runtime==4.11.1
psycopg2-binary==2.9.3
flask==2.2.2
requests==2.28.1
pydantic==1.10.2
Flask-Pydantic==0.11.0